KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC_TRANSMETRO=rm.transmetro.validaciones
KAFKA_TOPIC_AEROMETRO=rm.aerometro.boardings
KAFKA_CONSUMER_GROUP=rm-bronze-loader

RUTA_DATOS_CRUDOS=./datos_red
RUTA_LAKE_BRONZE=./lake/bronze
RUTA_WAREHOUSE=./warehouse/red_metropolitana.duckdb

DBT_PROFILES_DIR=.

SEUDONIMIZACION_SAL=cambiar-esta-sal-en-el-archivo-env-real
ZONA_HORARIA_LOCAL=America/Guatemala
FECHA_CORTE_FEATURES=2026-07-15