datos_red/*
!datos_red/.gitkeep
lake/bronze/*
!lake/bronze/.gitkeep
lake/staging/
warehouse/*
!warehouse/.gitkeep
*.duckdb
*.duckdb.wal
*.parquet

.env
*.env
!.env.example

.venv/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

dbt/target/
dbt/dbt_packages/
dbt/logs/
logs/
.user.yml

.prefect/
*.db

*.twb.bak
*.hyper
*.tde
Book*.twb

.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db
desktop.ini
.DS_Store